
  /* New version */
  .container{
    width: 300px;
    height: 100px;
    overflow: hidden;
    background: rgb(232, 232, 232);
    position: absolute;
    overflow-y: auto;
    top: 4%;
    border: 1px solid black;
  }